/*@media (max-width: 576px){
	.ub-product_container .ub-product_list .ub-product { width: calc(170px - 2px) !important;}
}

@media (min-width: 576px) and (max-width: 767.98px){
	.ub-product_container .ub-product_list .ub-product { width: calc(170px - 2px) !important;}
}
*/
/*@media  (max-width: 370px) {
	.ub-product_container .ub-product_list .ub-product { width: calc(170px - 2px) !important; margin: 0 10px 20px;}
}*/

@media (min-width: 768px) and (max-width: 991.98px){
	.ub-product_container .ub-product_list .ub-product { width: calc(200px - 2px);}
	.ub-product_customize .w-40{  width: 300px !important }
	.ub-product_customize .w-60{  width: calc(100% - 300px) !important }	
	.ub-checkbox_container #playerrow_result .w-40{ width: 40% !important }
}

@media (min-width: 992px) and (max-width: 1100px){
	.ub-product_container .ub-product_list .ub-product { width: calc(210px - 2px);}
}

@media (min-width: 1100px) and (max-width: 1281px) {
	.ub-product_container .ub-product_list .ub-product { width: calc(170px - 2px);}
}

@media (max-width: 1200px){
	.ub-product_container { padding: 20px;}
	.ub-product_customize .w-40{  width: 350px !important }
	.ub-product_customize .w-60{  width: calc(100% - 350px) !important }
	.ub-checkbox_container #playerrow_result .w-40{ width: 40% !important }
}
@media (min-width: 767px){
	.ub-categorybar_hideshow, .ub-product_mobile_show{display: none;}
}
@media (max-width: 767px){
	.ub-checkbox_container #ub-productList{ text-align: center; }
	.ub-product_container { padding: 10px;}
	.ub-categorybar_hideshow, .ub-checkbox_container .product_mobile_show{display: block;}
	.ub-product_customize .ub-accordion{ display: none !important; }
	.ub-product_container .ub-product_category, .ub-product_container .ub-product_area, .ub-categorybar_hideshow, .ub-categorybar_hideshow:after{ transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; -ms-transition: all .3s ease;  }
	.ub-product_container .ub-product_category{ position: fixed; left: -200px; top: 0; z-index: 2; background: #fff; min-height: 100%; padding: 20px; float: none;}
	.ub-product_container .ub-product_category h2{ margin-top: 0; margin-bottom: 15px }
	.ub-product_container .ub-product_area{position: relative; width: 100%; left: 0}
	.ub-product_container .ub-product_area.fullcnt:before{ content: ''; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5);transition: all .3s ease; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease; -ms-transition: all .3s ease;  }
	.ub-product_category.ctgr_show{ left: 0px }
	.ub-product_option .w-75, .ub-product_option .w-25{ width: 50% !important }
	.ub-product_container .ub-product_option select{ margin-right: 10px; margin-left: 10px; }
	.ub-product_customize .ub-panel { border-bottom: 1px solid #ddd }

	.ub-product_customize .w-40, .ub-product_customize .w-60{ width: 100% !important; float: none; }
	.ub-product_customize .w-40{ text-align: center; }
	.ub-product_customize .ub-product_cast{ margin: 0 auto 20px; width: 100%; max-width: 400px  }
	.ub-product_customize .ub-product_cast .ub-scene canvas{ width: 100% !important; height: 100% !important }
	.ub-product_customize .w-60 .pl-3{ padding-left: 0 }
	#playerrow_result .w-40, #playerrow_result .w-25, #playerrow_result .w-20, #playerrow_result .w-15{ width: 100% !important }
	#ub-viewCartBasket span{ display: none !important; } 
	.ub-product_mobile_show{ margin-bottom: 0 !important; padding-bottom: 10px; }
	.ub-product_mobile_show .d-inline{ text-align: center; margin-bottom: 20px }
	/*.product_mobile_show .d-inline a{align-self: normal; width: -webkit-fill-available;}*/
	.ub-product_customize .my-3{ margin: 20px 0 }
	.ub-color_swatch:hover, .ub-color_swatch.active{ transform: scale(1.5); -webkit-transform: scale(1.5); -moz-transform: scale(1.5); -o-transform: scale(1.5); -ms-transform: scale(1.5); }
	.ub-color_swatch{width: 20px; height: 20px;}
	.ub-tabcontent{ padding:0 !important; }
	.ub-modal-content{width: 50%;}
	.ub-modal-header, .ub-modal-header_share {padding: 5px 20px;}
	.ub-modal-body {padding: 20px; }
	.ub-product_cart .ub-table tfoot tr th{ display: block; }
	.ub-product_container .w-50{ width: 100% }
	.ub-product_container .ub-setPrevNext .w-50{ width: 50% }
}

@media  (max-width: 576px) {
	.ub-product_container .ub-product_list .ub-product { width: calc(170px - 2px);}
	.ub-product_cart>.text-right{ text-align: left; }
	.ub-product_final a{ width: 48%; position: relative; overflow: hidden; }
	.ub-product_final a:after{ content: ''; display: block; padding-bottom: 100% }
	.ub-product_final img{ position: absolute; width: 100%; height: auto; left: 50%; top: 50%; transform: translate(-50%,-50%); }
	.ub-txt_action a{ margin: 5px 5px 5px 0 }
	.ub-product_cart .ub-table tr td{ display: block; width: 100%; padding: 5px 0; border: none}
	.ub-product_cart .ub-table tr{ margin: 10px 0 !important; display: block; }
	.ub-product_cart .ub-table tr td:last-child{ border-bottom: 1px solid #ddd !important;}
	.ub-product_container .ub-panel .d-flex ,.ub-product_container .edited .d-flex{ display: block !important; }
	.ub-product_container .ub-panel .w-50, .ub-product_container .edited .w-50{ width: 100% }
	.ub-eraser{ right: 15px; z-index: 1;}
	.ub-modal-content{width: 80%;}
	.ub-modal-header, .ub-modal-header_share {padding: 5px 15px;}
	.ub-modal-body {padding: 15px; }
	/*.ub-product_container .edited .w-50:last-child .form-group{ margin-left: 0px !important }*/
	.ub-product_customize_step:after {display: none;}

}

@media (min-width: 576px) and (max-width: 767.98px){
	.ub-product_container .ub-product_list .ub-product { width: calc(170px - 2px);}
}

@media  (max-width: 420px) {
	.ub-product_option .w-75, .ub-product_option .w-25{ width: 100% !important; overflow: hidden; position: relative; }
	.ub-product_container {padding: 10px 0;}
	.ub-product_container .ub-product_list .ub-product { width: calc(48% - 2px); margin: 2%;}
    .ub-product_container .ub-product_list .ub-product:nth-child(odd) { margin-left: 0 !important; }
	.ub-product_container .ub-product_list .ub-product:nth-child(even) {	margin-right: 0 !important; }
	.ub-product_container .ub-product_list .ub-product canvas{ width: 100% !important; height: auto !important; }
	.ub-product_container .ub-product_list .ub-product .scene{ height: 100% !important; }
	.ub-product_container .ub-product_option select { margin: 0px; width: 100% !important; max-width: 100% !important; position: relative; }
	.ub-product_container .ub-product_option select option {
  		display:inline-block;
	}
	.ub-product_container .btn-primary { font-size: 90% !important; }

	.ub-ViewBasket .img-svg { margin-right: 0px; }
	.ub-product_container .btn-sm{ padding: 5px 10px; }

	.ub-product_container .btn{padding: 10px 20px;}

}



@media (min-width: 371px) and(max-width: 420px) {
	.ub-product_container .ub-product_list .ub-product { width: calc(150px - 2px) !important; margin: 0 5px 10px;}
}

@media  (max-width: 370px){
}

@media  (max-width: 320px) {
	.ub-product_container .ub-product_list .ub-product { width: calc(46.5% - 2px);}
	#ub-viewCartBasket{ position: absolute; padding: 10px !important; }
	.ub-ViewBasket .img-svg{ margin-right: 0 !important }
}