/*Common css Open*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
.ub-product_container *{font-family: 'Montserrat', sans-serif !important; font-weight: 400; line-height: 150%; font-size: 14px; color: #6c7293;}
.ub-product_container a:hover, .ub-product_container a:focus {text-decoration: none !important; outline: none;}
.ub-product_container h1, .ub-product_container h2, .ub-product_container h3, .ub-product_container h4, .ub-product_container h5 , .ub-product_container h6 {font-family: 'Montserrat', sans-serif !important; font-weight: 700; color:#48484a; line-height: 1.3; }
/*article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {display: block; }*/
.ub-product_container p{font-family: 'Montserrat', sans-serif !important; font-weight: 300; color:#6c7293 }
.ub-product_container ul, .ub-product_container ol{ margin: 0; padding: 0; list-style: none; font-family: 'Montserrat', sans-serif !important; font-weight: 400;}
.ub-product_container ul.ml-2{ margin-left: 0 !important }
.ub-product_container a{ color:  #6c7293; text-decoration: none;}
.ub-product_container a:hover{ color:#dc3545}

.ub-product_container .bg_white{background:#fff}
.ub-product_container .bg_black{background: #3d3d3e}
.ub-product_container .bg_none{ background: none }
.ub-product_container .bg_light{background: #f8f9fb}
.ub-product_container .bg_danger {background: #dc3545 !important;}
.ub-product_container .bg-success{ background: #00d284 !important;}
.ub-product_container .bg-warning{background: #ff5730 !important;}
.ub-product_container .bg-info{ background: #00cff4 !important;}

.ub-product_container .txt_white{color: #fff}
.ub-product_container .txt_black{color: #3d3d3e}
.ub-product_container .text-danger {color: #dc3545 !important;}
.ub-product_container .text-success{ color: #00d284 !important;}
.ub-product_container .text-warning{color: #ff5730 !important;}
.ub-product_container .text-info{ color: #00cff4 !important;}

.ub-product_container .btn, .ub-product_container .btn:active, .ub-product_container .btn.active, .ub-product_container .btn:focus{border:none !important; outline: none !important; border-radius: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -o-border-radius: 30px; -ms-border-radius: 30px; padding:10px 30px; text-transform: uppercase; line-height: 100%;}
.b-block{ display: block; width: 100%; padding: 10px 5px; }
.ub-product_container .btn-sm, .ub-product_container .btn-sm:active, .ub-product_container .btn-sm.active, .ub-product_container .btn-sm:focus{ padding: 5px 15px;}
.ub-product_container .btn-default{border:1px solid #48484a !important;}
.ub-product_container .btn-primary{ color: #fff; background-color: #2e3b42; border-color: #2e3b42;}
.ub-product_container .btn-primary:hover, .ub-product_container .btn-primary:not(:disabled):not(.disabled).active, .ub-product_container .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .ub-product_container .btn-primary.focus, .btn-primary:focus{ background-color: #48484a; border-color: #b32432; color: #fff}
.ub-product_container .page-link{color: #b32432;}
.ub-product_container .btn-secondary{background-color: #2e3b42;}
/*.ub-product_container .btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{}*/

.ub-product_container .animate{transition: all .5s ease; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease;}
.ub-product_container .box-shadow{ box-shadow: 0 5px 20px 0 rgba(0,0,0,.1); -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1); -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1); -o-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1); -ms-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);}

.ub-product_container strong, .ub-product_container .strong{font-family: 'Montserrat', sans-serif !important; font-weight: 700}
.ub-product_container a[aria-expanded="true"] i.menu-arrow{ transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); }
.ub-product_container hr{border-bottom: 1px solid #ddd !important; border: none}


.ub-product_container li a{ display: block;  }
.ub-product_container .list_inline li{ display: inline-block; }
.ub-product_container .my-0{ margin-top:0px; margin-bottom:0px;  }
.ub-product_container .my-1{ margin-top:10px; margin-bottom:10px;  }
.ub-product_container .my-2{ margin-top:20px; margin-bottom:20px;  }
.ub-product_container .my-3{ margin-top:30px; margin-bottom:30px; }
.ub-product_container .my-4{ margin-top:40px; margin-bottom:40px;  }
.ub-product_container .mb-0{ margin-bottom:0px  }
.ub-product_container .mb-1{ margin-bottom:10px  }
.ub-product_container .mb-2{ margin-bottom:20px  }
.ub-product_container .mb-3{ margin-bottom:30px }
.ub-product_container .mb-4{ margin-bottom:40px  }
.ub-product_container .mb-5{ margin-bottom:50px  }

.ub-product_container .mt-0{ margin-top:0px  }
.ub-product_container .mt-1{ margin-top:10px  }
.ub-product_container .mt-2{ margin-top:20px  }
.ub-product_container .mt-3{ margin-top:30px }
.ub-product_container .mt-4{ margin-top:40px  }
.ub-product_container .mt-5{ margin-top:50px  }

.ub-product_container .ml-1{ margin-left:10px  }
.ub-product_container .ml-2{ margin-left:20px  }
.ub-product_container .ml-3{ margin-left:30px }
.ub-product_container .ml-4{ margin-left:40px  }
.ub-product_container .ml-5{ margin-left:50px  }

.ub-product_container .mr-1{ margin-right:10px  }
.ub-product_container .mr-2{ margin-right:20px  }
.ub-product_container .mr-3{ margin-right:30px }
.ub-product_container .mr-4{ margin-right:40px  }
.ub-product_container .mr-5{ margin-right:50px  }

.ub-product_container .w-10{ width: 10% }
.ub-product_container .w-15{ width: 15% }
.ub-product_container .w-20{ width: 20% }
.ub-product_container .w-25{ width: 25% }
.ub-product_container .w-30{ width: 30% }
.ub-product_container .w-40{ width: 40% }
.ub-product_container .w-50{ width: 50% }
.ub-product_container .w-60{ width: 60% }
.ub-product_container .w-70{ width: 70% }
.ub-product_container .w-75{ width: 75% }
.ub-product_container .w-100{ width: 100% }

.ub-product_container .p-1{ padding: 10px }
.ub-product_container .p-2{ padding: 20px }
.ub-product_container .p-3{ padding: 30px }
.ub-product_container .pl-1{ padding-left: 10px }
.ub-product_container .pl-2{ padding-left: 20px }
.ub-product_container .pl-3{ padding-left: 30px }

.ub-product_container .border{ border: 1px solid #ddd }

.ub-product_container .text-center{ text-align: center; }
.ub-product_container .text-right{ text-align: right; }
.ub-product_container .text-left{ text-align: left; }

.ub-product_container .v_top{vertical-align: top;}
.ub-product_container .v_middle{vertical-align: middle;}

.ub-product_container .m-auto{ margin-left: auto; margin-right: auto; }
.ub-product_container .d-block{ display: block !important; }
.ub-product_container .d-flex{ display: flex !important; }
.ub-product_container .d-inlineb{ display: inline-block; }

.ub-product_container .pull-right{ float: right; }
.ub-product_container .pull-left{ float: left; }

.ub-table{ margin: 10px auto 50px; width: 100%; border-top:1px solid #ddd; font-family: 'Montserrat', sans-serif !important;font-weight: 400;}
.ub-table td, .ub-table th{ padding: 10px; border-bottom: 1px solid #ddd;  border-right: 1px solid #ddd; font-family: 'Montserrat', sans-serif !important; font-weight: 400; }
.ub-table td:first-child, .ub-table th:first-child{border-left:1px solid #ddd;}
.ub-table th{ background-color: #48484a; color: #fff; }
.ub-product_container .table-striped tr:nth-child(even) td{ background-color: #eee }

/*Custom Checkbox*/
.ub-checkbox_container {display: block; position: relative; padding-left: 35px; margin-bottom: 12px; cursor: pointer; font-size: 22px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } 
.ub-checkbox_container input {position: absolute; opacity: 0; cursor: pointer; height: 0; width: 0; } 
.ub-product_container .checkmark {position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #fff; border: 1px solid #ddd; border-radius: 4px } 
.ub-checkbox_container:hover input ~ .checkmark {background-color: #ccc; } 
.ub-checkbox_container input:checked ~ .checkmark {background-color: #2196F3; } 
.ub-product_container .checkmark:after {content: ""; position: absolute; display: none; } 
.ub-checkbox_container input:checked ~ .checkmark:after {display: block; } 
.ub-checkbox_container .checkmark:after {left: 9px; top: 5px; width: 5px; height: 10px; border: solid white; border-width: 0 3px 3px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }

/* Style the model */
.modal_product {display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.modal_product .product-content {background-color: #fefefe; margin: auto; padding: 20px; border: 1px solid #888; width: 80%; } 
.modal_product .ub-close {color: #aaaaaa; float: right; font-size: 28px; font-weight: bold; } 
.modal_product .ub-close:hover, .modal_product .ub-close:focus {color: #000; text-decoration: none; cursor: pointer; }

.ub-product_container ul.ub-breadcrumb { list-style: none; background-color: #eee; margin-bottom: 20px; padding: 15px; font-family: 'Montserrat', sans-serif !important;} 
.ub-product_container ul.ub-breadcrumb li {display: inline-block; font-size: 13px;color: #bbbcc3;} 
/*.ub-product_container ul.ub-breadcrumb li:first-child a{ margin-left: 15px  }*/
.ub-product_container ul.ub-breadcrumb li+li:before { color: black; content: "/\00a0"; } 
.ub-product_container ul.ub-breadcrumb li a { color: #6c7293; text-decoration: none; display: inline-block; } 
/*.ub-product_container ul.ub-breadcrumb li a:hover {color: #01447e; text-decoration: underline; }*/

.ub-custom_switch {position: relative; display: inline-block; width: 50px; height:26px; } 
.ub-custom_switch input {opacity: 0; width: 0; height: 0; } 
.ub-custom_switch .ub-slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; } 
.ub-custom_switch .ub-slider:before {position: absolute; content: ""; height: 20px; width: 20px; left: 2px; bottom: 3px; background-color: white; -webkit-transition: .4s; transition: .4s; } 
.ub-custom_switch input:checked + .ub-slider {background-color: #2196F3; } 
.ub-custom_switch input:focus + .ub-slider {box-shadow: 0 0 1px #2196F3; } 
.ub-custom_switch input:checked + .ub-slider:before {-webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); } 
/* Rounded sliders */ 
.ub-custom_switch .ub-slider.round {border-radius: 34px; } 
.ub-custom_switch .ub-slider.round:before {border-radius: 50%; }
/*Common css Close*/


/*Custom css Open*/
.ub-product_container *{ box-sizing: border-box !important; }
/*#ub-productList{ text-align: center; }*/
.ub-product_container{ padding: 30px; /*margin:0 50px;*/ margin: 0 auto; position: relative;	}
.ub-product_container .ub-product_category{ width: 200px; float: left;} 
.ub-product_container .ub-product_area{ width: calc(100% - 230px); float: left; left: 30px; position: relative;}
.ub-product_container .ub-product_category .list_inline li a{ border: 1px solid #ddd; border-radius: 4px; text-align: center; min-width: 30px; margin: 2px }
.ub-product_container .ub-product_category li a{ display: block; padding: 5px }
.ub-product_container .ub-product_option{border: 1px solid #ddd; padding: 15px; border-radius: 4px; display: inline-block; width:100%}
.ub-product_container .ub-product_option select{ padding: 5px; border: 1px solid #ddd; color: #6c7293; border-radius: 4px; max-width: 200px; }
.ub-product_container .ub-product_count, .ub-product_container .ub-product_sorting{ float: left; }
.ub-product_container .ub-product_count{ text-align: right; margin-top: 5px;font-size: 13px; color: #6c7293 !important }

.ub-product_container .ub-product_category a.active{ color: #48484a !important }
.ub-product_container .ub-main_categories>li>a, .ub-product_container .ub-product_category h3{border-bottom: 1px solid #ddd; font-family: 'Montserrat', sans-serif !important;font-weight: 700;  padding: 5px; position: relative;}
.ub-product_container .ub-product_category h3{font-size: 1.17em;}
.ub-product_container .ub-main_categories>li>a:after, .ub-product_container .ub-main_categories>li>a:before{ content: ''; position: absolute; right: 0; top: 0; background-color: #ccc; display: none; }
.ub-product_container .ub-main_categories>li>a:after{width: 10px; height: 2px; right: 2px; top: 15px;}
.ub-product_container .ub-main_categories>li>a:before{ width: 2px; height: 10px; right: 6px; top: 11px; }
.ub-product_container .ub-main_categories>li>a.open:before{ display: none; }
.ub-product_container .ub-sub_categories{ margin-left: 20px; display: none; }

.ub-product_container .ub-product_list{ display: inline-block; width: 100%; }
.ub-product_container .ub-product_list ul{ margin: 0 -10px }
.ub-product_container .ub-product_list .ub-product{ width: calc(180px - 2px); margin: 0 10px 20px; /*float: left;*/ display: inline-block; border: 1px solid #ddd; position: relative; overflow: hidden;}
.ub-product_container .ub-product_list .customise{ display: none; position: absolute; width: 100%; left: 0; bottom: -20%; text-align: center; z-index: 0 }
.ub-product_container .ub-product .ub-img{ display: block; text-align: center; /*border: 1px solid #fff; background-color: #e8e8e8;*/ position: absolute; width: 100%; /*height: calc(100% - 40px);*/ height: 100%}
.ub-product_container .ub-product { position: relative; }
.ub-product_container .ub-product .ub-anchor{position: absolute; left: 0; top: 0; right: 0; bottom: 0; width: 100% ; height: 100%; z-index: 1 ;}
.ub-product_container .ub-product .img-fluid{width: 100%; height: 100%; object-fit: cover;}
.ub-product_container .ub-product .ub-img-container{ position: relative; }
.ub-product_container .ub-product .ub-img-container:after{content: ""; display: block; padding-bottom: 100%;}
/*.ub-product_container .ub-product_list .ub-product a:hover{ border: 1px solid #ddd }*/
.ub-product_container .ub-product_list .customise span{ padding: 7px 10px; background: #fff; color: #6c7293 }
/*.ub-product_container .ub-product_list .ub-product_nm{ text-align: center; padding:7px 10px; font-size: 12px; font-family: 'Montserrat', sans-serif !important;font-weight: 700; background-color: #000; color: #fff; position: absolute; left: 0; bottom: 0; width: 100% ; z-index: 1 ;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}*/
.ub-product_container .ub-product_list .ub-product_nm{ text-align: center; padding:7px 10px; font-size: 12px; font-family: 'Montserrat', sans-serif !important;font-weight: 700; background-color: #000; color: #fff;  width: 100% ; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; position: relative; }
.ub-product_img{ width: 100%; height: auto; }

.ub-product_container .ub-pagination {display: inline-block; } 
.ub-product_container .ub-pagination a {color: black; float: left; padding: 8px 16px; text-decoration: none; border: 1px solid #ddd; border-right: none } 
.ub-product_container .ub-pagination a.active {background-color: #48484a; color: white; border: 1px solid #48484a; } 
.ub-product_container .ub-pagination a:hover:not(.active) {background-color:#d2d4dc; color: #fff} 
.ub-product_container .ub-pagination a:first-child {border-top-left-radius: 5px; border-bottom-left-radius: 5px;} 
.ub-product_container .ub-pagination a:last-child {border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-left:  1px solid #ddd; border-right:  1px solid #ddd }

.ub-product_customize{ display: inline-block; width: 100% }
.ub-product_customize .ub-product_cast{ text-align: center; padding: 30px; display: block; position: relative; }
.ub-product_customize .ub-product_cast .ub-scene{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }
.ub-product_customize .ub-product_cast .ub-scene canvas{width: 100% !important; height: auto !important;}
.ub-product_customize .ub-product_cast:after{ content: ''; position: relative ; left: 0; top: 0; width: 100%; display: block; padding-top: 125% ;z-index: -1;}
.ub-product_customize .ub-product_action{ position: absolute; display: flex; justify-content: space-between;  }
.right{padding: 5px 10px; border:1px solid #d2d4dc}
.ub-product_customize .ub-product_action.top{ top: 5px;left: 5px; right: 5px;}
.ub-product_customize .ub-product_action.bottom{ bottom: -2px; left: 0;}
.ub-product_customize .ub-product_action.bottom a{ padding: 5px; background-color: #d2d4dc }
.ub-product_customize .ub-product_action a{ display: block; text-align: left; margin-bottom:2px; text-transform: uppercase; font-size: 12px; font-family: 'Montserrat', sans-serif !important; font-weight: 700; }
.ub-product_customize .w-40, .ub-product_customize .w-60{ float: left; }
.ub-product_customize .w-40{  width: 400px !important }
.ub-product_customize .w-60{  width: calc(100% - 400px) !important }

.ub-product_customize .ub-accordion {background-color: #eee; color: #48484a; cursor: pointer; padding: 8px 18px 8px 14px; width: 100%; border: none; text-align: left; outline: none; font-size: 15px; transition: 0.4s; font-family: 'Montserrat', sans-serif !important; font-weight: 700;} 
.ub-product_customize .ub-accordion.active, .ub-product_customize .ub-accordion:hover {background-color:#48484a; color: #fff  } 
.ub-product_customize .ub-accordion:hover:after{color: #fff !important;}
.ub-product_customize .ub-accordion:after {content: '\002B'; color: #777; font-weight: bold; float: right; margin-left: 5px; } 
.ub-product_customize .ub-accordion.active:after {content: "\2212"; color: #fff; } 
.ub-product_customize .ub-panel {padding: 0; background-color: whitub-e; display: none; /*overflow: hidden;*/ }

.ub-product_customize_point{text-align: center; position: relative; margin: auto; display: flex; width: auto; align-items: center; justify-content: center; align-self: center;}
/*.ub-product_customize_point:after{ content: ''; position: absolute; left: 0%; top: 17px; width: 100%; height: 5px; background-color: #ddd; z-index: -1;}*/
.ub-product_customize_step{ display: inline-block; text-align: center; position: relative;}
/*.ub-product_customize_step:after{ content: ''; position: absolute; left: 50%; top: 30%; width: 90%; height: 5px; background-color: #000; z-index: -1; margin-left: 20px; margin-top: -1px;}*/
.ub-product_customize_step:last-child:after{ display: none !important; }
.ub-product_customize_step span.circle{ width: 45px; height: 45px; text-align: center; line-height: 42px; font-size: 20px; font-family: 'Montserrat', sans-serif !important; font-weight: 700;  background: #ddd; display: inline-block; border-radius: 100%; color: #999; border: 2px solid #ddd; box-shadow: inset 0 0 0 5px #fff, inset 0 0 0 10px #ddd; } 
.ub-product_customize_step.ub-tablinks{ vertical-align: top;}
.ub-tablinks.active span.circle{ background: #48484a !important; border-color:#48484a !important;  box-shadow: inset 0 0 0 5px #fff, inset 0 0 0 10px #48484a;   background: ; color: #fff  }
/*  85BB65 */
.ub-tablinks.done span.circle{color: #fff ;background: #48484a !important; border-color:#48484a !important;  box-shadow: inset 0 0 0 5px #fff, inset 0 0 0 10px #48484a;   }

.ub-product_customize_step span.txt{ display: inline-block; width: 100%; text-transform: uppercase; margin-top: 10px; font-size: 11px; color: #111; font-family: 'Montserrat', sans-serif !important; font-weight: 700;  }
.ub-product_customize_step.active span.txt{ color: #48484a !important }
.ub-product_customize_step.done span.txt{color:#48484a !important; }
.ub-product_customize_step:after{ content: ''; position: absolute; left: 50%; top: 23px; width: 100%; height: 2px; background-color: #ddd; z-index: -1; margin-left: 20px;}
.ub-product_customize_step.done:after{ content: ''; position: absolute; left: 50%; top: 30%; width: 100%; height: 2px; background-color: #48484a; z-index: -1; margin-left: 20px;}
.ub-color_swatch{ display: inline-block; width: 24px; height: 24px; margin: 1px 1px 2px 0; border:1px solid #ddd; border-radius: 100%; transition: all .2s ease !important; }
.ub-color_swatch:hover, .ub-color_swatch.active{ transform: scale(1.8); -webkit-transform: scale(1.8); -moz-transform: scale(1.8); -o-transform: scale(1.8); -ms-transform: scale(1.8); }


/*.product_design_view{ text-align: center; }*/
.ub-product_design_view a{ width: 10%; margin: 10px .8%; display: inline-block; border: 1px solid transparent; padding: 10px;}
.ub-product_design_view a:hover{ border: 1px solid #ddd }
.ub-product_design_view a img{ width: 100% }
.ub-product_thumb, .ub-custom_uploadLogo{ width: 60px; height: 60px; padding: 2px; border: 1px solid #ddd; display: inline-block; position: relative; margin: 0 10px 10px 0; border-radius: 4px; text-align: center;}
.ub-product_thumb.active{ border-color: #dc3545;}
.ub-product_thumb a{ display: block; overflow: hidden; height: 100%;}
.ub-product_thumb .ub-delet{ position: absolute; right: -10px; top: -10px; width: 20px; height: 20px; text-align: center; background: #fff; border: 1px solid #ddd; border-radius: 100%; cursor: pointer; font-family: 'Montserrat', sans-serif !important;font-weight: 700; font-size: 14px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); color: #666	}
.ub-custom_uploadLogo{ top: 15px; cursor: pointer; }
.ub-custom_uploadLogo span{ position: absolute; width: 100%; text-align: center; left: 0; font-size: 30px; top: 7px; z-index: 1; color: #666}
.ub-custom_uploadLogo:hover, .ub-product_thumb .ub-delet:hover, .ub-txt_action a:hover{background-color: #f1f1f1; color: #464c67}
.ub-custom_uploadLogo input[type="file"]{ position: absolute; width: 100%; height: 100%; left: 0;
top: 0; opacity: 0; z-index: 2; cursor: pointer;  }
.ub-product_container .form-group{ position: relative; margin-bottom: 20px }
.ub-product_container .form-group label{ margin-bottom: 5px; display: inline-block; }
.ub-product_container .form-group input[type="file"], .ub-product_container .form-group input[type="text"], .ub-product_container .form-group .form-control{ border: 1px solid #ddd; width: calc(100% - 2px); padding: 10px; border-radius: 4px; height: 38px;}
.ub-product_container .form-group textarea.form-control{ height: 80px }
.ub-eraser{position: absolute; right: -25px; top: 8px;}
.ub-checkbox_container .eraser_1{ padding: 5px }
.ub-txt_action{ margin-top: 3px; font-family: 'Montserrat', sans-serif !important;}
.ub-txt_action a{border: 1px solid #ddd;border-radius: 4px; width: 30px; height: 30px; text-align: center; display: inline-block; line-height: 25px; font-size: 13px}
.ub-txt_action a span{ vertical-align: 2px; margin-left: 5px; }
.ub-txt_action a .img-svg{ width: 12px; height: 12px; opacity: .5 }
.ub-txt_action a .img-svg path{fill: #3d4050}
.ub-txt_action .reset, .ub-txt_action .reset:hover{color: #fff; background-color: #dc3545;}
.ub-txt_action .reset .img-svg path{fill:#fff;}
.ub-eraser .img-svg, .eraser_1 .img-svg{ width: 20px; height: 20px; opacity: .5 }
.ub-eraser:hover img{ opacity: 1 }

.ub-slidecontainer {width: 100%; } 
.form-group.ub-slidecontainer .ub-slider {-webkit-appearance: none; width: 100%; height: 5px; background: #d3d3d3; outline: none; opacity: 0.7; -webkit-transition: .2s; transition: opacity .2s; } 
.form-group.ub-slidecontainer .ub-slider:hover {opacity: 1; } 
.form-group.ub-slidecontainer .ub-slider::-webkit-slider-thumb {-webkit-appearance: none; appearance: none; width: 15px; height: 25px; background: #dc3545; cursor: pointer; } 
.form-group.ub-slidecontainer .ub-slider::-moz-range-thumb {width: 25px; height: 25px; background: #4CAF50; cursor: pointer; }

.ub-product_final img{ width: 100px; height: auto;max-height: 100% }
.ub-product_final a{ display: inline-block; text-align: center; color: #48484a }
.ub-product_cart .ub-table{ margin-top: 20px }
.ub-product_cart .ub-table tr td, .ub-product_cart .ub-table tr th{padding: 10px; }
.ub-product_cart .ub-table tr td{ border-top: 1px solid #ddd; border-right: none; border-left: none; }
.ub-product_cart .ub-table tfoot tr th{border-top: 2px solid #464c67; border-bottom: 2px solid #48484a; padding: 10px 5px; color: #48484a}
.ub-product_cart .ub-table .img-svg{width: 12px; height: 12px;}
.ub-txt_action.w-auto a{ width: auto !important; padding-left: 10px; padding-top: 5px; padding-right: 10px;height: auto; margin-left: 10px; /*text-align: left;*/}
.ub-ViewBasket .img-svg{width: 20px; height: 20px;} 
.ub-ViewBasket .img-svg path{fill: #48484a}
.ub-product_container ul.ub-breadcrumb li+li.ub-ViewBasket:before{ display: none !important; }
.ub-pro_box{ border: 1px solid #6c7293; height: 24px; display: inline-block; padding-right: 5px}
.ub-pro_box small{background-color: #6c7293; color: #fff;padding: 3px 7px;}
.ub-add-row{ font-size: 13px; text-transform: uppercase; /*color: #dc3545 !important*/ }
.ub-add-row span{font-family: 'Montserrat', sans-serif !important;}
.ub-delet_nm a{width: 30px; height: 30px; display: inline-block; }
.ub-delet_nm .img-svg{ width: 20px; height: auto; padding-top: 8px; }

.ub-final_detail .ub-pro_img img{ max-height: 250px; width: auto; max-width: 30%; margin: 10px 20px}
.ub-color-view{ width: 20px; height: 20px; border-radius: 4px; border: 1px solid #ddd; display: inline-block; vertical-align: -5px }
/* Style the tab */
/*.tab {overflow: hidden; border: 1px solid #ccc; background-color: #f1f1f1; } 
.tab button {background-color: inherit; float: left; border: none; outline: none; cursor: pointer; padding: 14px 16px; transition: 0.3s; font-size: 17px; } 
.tab button:hover {background-color: #ddd; } 
.tab button.active {background-color: #ccc; }*/ 
.ub-next_pre{ float: left; }
.ub-tabcontent {display: none; padding: 6px 0; -webkit-animation: fadeEffect 1s; animation: fadeEffect 1s; } 
@-webkit-keyframes fadeEffect {	
	from {opacity: 0;} to {opacity: 1;} 
} 
@keyframes fadeEffect {	
	from {opacity: 0;} to {opacity: 1;} 
}
/*Custom css Close*/

.ub-color_swatch {position: relative; display: inline-block;} 
.ub-color_swatch .tooltiptext {visibility: hidden; min-width: 70px; font-size: 8px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 2px 0; position: absolute; z-index: 1; bottom: 110%; left: 200%; margin-left: -55px; opacity: 0; transition: opacity 0.3s; }
.ub-color_swatch .tooltiptext::after {color: #fff !important; display: inline-block !important; text-align: center !important; top: auto !important; bottom: 42px !important; left: 50% !important; right: auto !important; transform: translateX(-50%); font-size: 10px; padding: 2px 8px; z-index: 3; background: #252525 !important; border-radius: 2px !important; } 
.ub-color_swatch.active .tooltiptext {visibility: visible; opacity: 1; }
.ub-color_swatch:hover .tooltiptext {visibility: visible; opacity: 1; }

.disableClick{pointer-events: none; } 
.ub-product_cart .ub-table tr td {border-top: 1px solid #ddd; border-right: none; border-left: none; }

.ub-modal {display: none; position: fixed; z-index: 1; padding-top: 100px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); } /* Modal Content */ 
.ub-modal-content {position: relative; background-color: #fefefe; margin: auto; padding: 0; border: 1px solid #888; width: 30%; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); -webkit-animation-name: animatetop; -webkit-animation-duration: 0.4s; animation-name: animatetop; animation-duration: 0.4s }
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} to {top:0; opacity:1} 
} 
@keyframes  animatetop {
	from {top:-300px; opacity:0} to {top:0; opacity:1} 
} /* The Close Button */ 
.ub-close {color: #fff; float: right; font-size: 28px; font-weight: bold; } 
.ub-close:hover, .ub-close:focus {color: #ccc; text-decoration: none; cursor: pointer; } 
.ub-modal-header, .ub-modal-header_share {padding: 5px 30px; background: #2e3b42 !important; } 
.ub-modal-header h3, .ub-modal-header_share h3{ color: #fff !important}
.ub-modal-body {padding: 30px;} 
.ub-modal-body .form-group:last-child{ margin-bottom: 0 !important }
.ub-modal-footer {padding: 10px 30px; background-color: #f1f1f1 !important; border-top: 1px solid #ddd } 
.ub-product_container .ub-modal-footer .form-group{ margin-bottom: 0 }
.ub-button11{background-color: #008CBA; cursor: pointer; color: white; }

.ub-product_showcase{ position: relative; }
.ub-categorybar_hideshow{ position: fixed; width: 30px;height: 30px; background:#fff;right: 20px; bottom: 20px; z-index: 2;  border: 1px solid #666; border-radius: 100%; text-align: center;  }
.ub-categorybar_hideshow:after{ content: ''; position: absolute; left: 12px; top: 5px; border-left: 3px dotted #666; display: inline-block; width: 2px; height: 20px;  }
.ub-checkbox_container #playerrow_result .w-40{ width: 40% !important }
.ub-loader {position: fixed; left: 50%; top: 50%; display: block; z-index: 1; width: 50px; height: auto; margin-left: -25px; margin-top: -25px; } 
.webgl_loader{position: absolute; left: 50%; top: 50%; display: block; z-index: 1; width: 50px; height: auto; margin-left: -25px; margin-top: -25px; } 
.ub-ViewBasket .img-svg{width: 16px; height: 16px; vertical-align: -3px; margin-right: 5px;} 
.ub-ViewBasket .img-svg path{fill:#fff !important;} 
#ub-viewCartBasket span{margin-top: -5px; color: #fff !important;} 
#ub-viewCartBasket {margin-top: -5px;} 
.ub-checkbox_container .isDisabled {pointer-events: none; cursor: default; opacity: 0.5; text-decoration: none; }

.ub-product_mobile_show{ border-bottom: 1px solid #ddd; padding-bottom: 5px; margin-bottom: 20px }
.ub-product_mobile_show a{background-color: #eee; color: #48484a; cursor: pointer; padding:5px 10px; border: none; text-align: center; display: inline-block; outline: none; font-size: 14px; margin: 2px; transition: 0.4s; font-family: 'Montserrat', sans-serif !important; font-weight: 700;}
.ub-product_mobile_show a.active, .ub-product_mobile_show a:hover{background-color: #48484a; color: #fff; }
.ub-product_customize_point a {text-decoration: none; align-self: normal; width: -webkit-fill-available; padding-left: 2px; padding-right: 2px; }
.justify-content-between {-ms-flex-pack: justify!important; justify-content: space-between!important; }
.ub-product .ub-img canvas{ width: 100% !important ; height: 100% !important ;}
.ub-product_container h2{font-size: 18px;}
#ub-product_description li{margin-bottom: 5px }
/*.ub-product_container .edited .w-50:last-child .form-group{ margin-left: 30px !important }*/
.ub-row{ margin-left: -15px; margin-right: -15px }
.ub-row .w-50{ padding-left: 15px; padding-right: 15px }


.ub-loader:before{ content: "";display: inline-block; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100;}
.ub-loader .img-svg{ position: relative; z-index: 101;}
/*.ub-loader .img-svg circle{fill: #ffffff}*/

#ub-pageNotAvailable{ color: #655757; font-size: 20px; }