@media (max-width: 1100px){
	.btn-sm{ padding: 5px 14px;}
}

@media (min-width: 992px){
	.page-body-wrapper { width: calc(100% - 260px); height: 100vh; overflow: scroll;}
	.sidebar-icon-only .sidebar {width: 50px; padding-top: 55px; }
	.sidebar-icon-only .page-body-wrapper{width: calc(100% - 40px);}
	.sidebar-icon-only .navbar { left: 50px;}
	.sidebar-icon-only .sidebar .nav .nav-item .nav-link span, .sidebar-icon-only .sidebar .nav .nav-item-head,	.sidebar-icon-only .logo-area, .sidebar-icon-only .sidebar  hr{ display: none }
	/*.sidebar-icon-only .sidebar .nav .nav-item .nav-link:hover span.menu-title{ display: block; position: absolute; left: 50px; top: 20px; color: #f00}*/
	.sidebar-icon-only .sidebar .nav.sub-menu{ margin-left:-15px; border-left:none;}
	.sidebar-icon-only .sidebar .nav.sub-menu .nav-item{ padding-left: 0 !important }
	.sidebar-icon-only .sidebar .nav.sub-menu .nav-item .nav-link{m padding-left: 0}
	.sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-arrow{ display: none; }
}

@media (max-width: 992px){
	/*.page-body-wrapper{ overflow-y: auto !important; }*/
	.page-body-wrapper{ overflow-y: auto !important; }
	.container-scroller{ height: 100vh;}
}