/*Common css Open*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

body,html{font-family: 'Montserrat', sans-serif !important; font-weight: 400 line-height: 150%; height: 100%; font-size: 14px; background: #f8f9fb; color: #6c7293; overflow-y: hidden;}
a:hover, a:focus {text-decoration: none; outline: none;}
h1, h2, h3, h4, h5 {font-family: 'Montserrat', sans-serif !important; font-weight: 700; line-height: 1.3; }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {display: block; }
p{font-family: 'Montserrat',sans-serif !important; font-weight: 300;}
ul, ol{ margin: 0; padding: 0 }
a{ color:  #6c7293; cursor: pointer;}
a:hover{ color:#dc3545}

.bg_white{background:#fff}
.bg_black{background: #2e3b42}
.bg_none{ background: none }
.bg_light{background: #f8f9fb}
.bg_danger {background: #dc3545 !important;}
.bg-success{ background: #00d284 !important;}
.bg-warning{background: #ff5730 !important;}
.bg-info{ background: #00cff4 !important;}

.txt_white{color: #fff}
.txt_black{color: #3d3d3e}
.text-danger {color: #dc3545 !important;}
.text-success{ color: #00d284 !important;}
.text-warning{color: #ff5730 !important;}
.text-info{ color: #00cff4 !important;}

.table thead th{ vertical-align: top; }

.form-group{ position: relative; margin-bottom: 2rem}

label{ text-transform: uppercase; font-size: 12px; opacity: .8; margin-bottom: 0;display: block; }
.btn, .btn:active, .btn.active, .btn:focus{border:none !important; outline: none !important; border-radius: 30px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -o-border-radius: 30px; -ms-border-radius: 30px; padding: 10px 40px; text-transform: uppercase;}
.b-block{ display: block; width: 100%; padding: 10px 5px; }
.btn-sm, .btn-sm:active, .btn-sm.active, .btn-sm:focus{ padding: 5px 15px;}
.nav-tabs li a, .btn{font-family: 'Montserrat',sans-serif !important;font-weight: 500;}
.btn-default{border:1px solid #ddd !important;}
.btn-primary{ color: #fff; background-color: #dc3545; border-color: #dc3545;}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary.focus, .btn-primary:focus{ background-color: #b32432; border-color: #b32432;}
.page-link{color: #b32432;}
.btn-secondary{}
.btn-outline-secondary{ border:1px solid #ddd !important; }
.btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{}
td  .custom-control-label{margin-left: 4px !important}

.animate{transition: all .5s ease; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease;}
.box-shadow{ box-shadow: 0 5px 20px 0 rgba(0,0,0,.1); -webkit-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1); -moz-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1); -o-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1); -ms-box-shadow: 0 5px 20px 0 rgba(0,0,0,.1);}

strong, .strong{font-family: 'Montserrat',sans-serif !important; font-weight: 700;}
.font-weight-normal{font-family: 'Montserrat',sans-serif !important; font-weight: 500;}

.form-control:focus, button:focus, .btn:focus{box-shadow:none !important; outline: none !important}
input[type="file"]{ min-height: 35px; padding-left: 3px; padding-top: 3px; outline: none !important;}
.dropdown-item.active, .dropdown-item:active{background-color: #f1f1f1;}	
.sidebar .nav .nav-item .nav-link i.menu-arrow{transition: all .5s ease;}
a[aria-expanded="true"] i.menu-arrow{ transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); -ms-transform: rotate(90deg); }

/* scrollbar for Chrome, Safari and Opera*/
::-webkit-scrollbar {width: 5px; }
::-webkit-scrollbar-track {background: rgba(255,255,255,0); }
::-webkit-scrollbar-thumb {background: rgba(0,0,0,.5); }
::-webkit-scrollbar-thumb:hover {background: rgba(255,255,255,0); }
button.close{ margin-top: -9px !important;}
.remove_caret:after { content: none }
.dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
.dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active  {-webkit-box-shadow: 0 0 0 30px white inset !important; }

.modal-dialog-slideout {min-height: 100%; margin: 0 0 0 auto;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(100%,0)scale(1);transform: translate(100%,0)scale(1);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);display: flex;align-items: stretch;-webkit-box-align: stretch;height: 100%;}
.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body{overflow-y: auto;overflow-x: hidden; padding: 2rem}
.modal-dialog-slideout .modal-content{border: 0;}
.modal-dialog-slideout .modal-header, .modal-dialog-slideout .modal-footer {height: 69px; display: block;} 
.modal-dialog-slideout .modal-header h5 {float:left;}
.pagination{ margin-top: 20px }

.alert {border: medium none; border-radius: 0; left: 0; position: fixed; top: 0; width: 100%; z-index: 99999999; font-size: 0.9em; }
.alert-warning {background: #f3817a; color: #fff; text-align: center; }

#tabs{background: #007b5e; color: #eee; }
#tabs h6.section-title{color: #eee; }

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {color: #dc3545; background-color: transparent; border-color: transparent transparent #dc3545; border-bottom: 4px solid !important; }
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active_add {color: #d2cdcd; background-color: transparent; border-color: transparent transparent #dc3545; border-bottom: 4px solid !important; }

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{ border-color: transparent; }
#tabs .nav-tabs .nav-link {border: 1px solid transparent; border-top-left-radius: .25rem; border-top-right-radius: .25rem; color: #eee; font-size: 20px; }
.chosen-container{ width: 100% !important; }
.chosen-container-single .chosen-single{background: #fff !important; border: 1px solid #ced4da;    min-height: 34px; line-height: 32px; box-shadow: none !important;}
.chosen-container-single .chosen-single div b{ background-position: 0 7px !important }
.small, small{ line-height: 120% !important; color: #111; }

.row.no-gutters  & > [class^="col-"], .row.no-gutters  & > [class*=" col-"] {padding-right: 0; padding-left: 0; }
.hide_file-btn{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0 }
.file_uploadarea .form-control{ border-radius: .25rem 0 0 .25rem !important }
.file_uploadarea .btn{border-radius: 0 30px 30px 0 !important; height: 34px; margin-top: 0px; padding-top: 7px;}

.custom_switch {position: relative; display: inline-block; width: 50px; height:26px; } 
.custom_switch input {opacity: 0; width: 0; height: 0; } 
.custom_switch .slider {position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; } 
.custom_switch .slider:before {position: absolute; content: ""; height: 20px; width: 20px; left: 2px; bottom: 3px; background-color: white; -webkit-transition: .4s; transition: .4s; } 
.custom_switch input:checked + .slider {background-color: #2196F3; } 
.custom_switch input:focus + .slider {box-shadow: 0 0 1px #2196F3; } 
.custom_switch input:checked + .slider:before {-webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); } 
/* Rounded sliders */ 
.custom_switch .slider.round {border-radius: 34px; } 
.custom_switch .slider.round:before {border-radius: 50%; }
/*Common css Close*/

/*Custom css Open*/

/*Login Open*/
.login{ /*background: url('../images/bg.png') no-repeat center #111; background-size: cover; */ background: #dc3545}
.login .jumbotron{ padding: 3rem; margin-bottom: 1rem }
.login_logo{ width: 250px; }
.login .nav-tabs{ border-bottom: none; }
.login .nav-tabs li{ border: none !important }
.login .nav-tabs li a{  border-color:transparent; padding: 3px 20px; border: none; text-transform: uppercase; background-color: #ccc; color: #fff;}
.login .nav-tabs li a.active{ background-color: #dc3545; color: #fff}
.login .nav-tabs li:first-child a{border-radius:40px 0 0 40px;}
.login .nav-tabs li:last-child a{border-radius: 0 40px 40px 0;}
/*.login h5 { font-size: 16px }*/
.login h5 span{ opacity: .5; /*padding-bottom: 5px; border-bottom: 2px dotted transparent*/ }
.login h5 span.active{ opacity: 1; border-color: #111 }
.login .form-control{ border-bottom: 1px solid #ccc !important; border: none; background: none !important; border-radius: 0; padding-left: 0; padding-top: 0 }
.forgot_pass{border-bottom: 1px dotted; color: #fff !important; padding-bottom: 3px; font-size: 13px}
.login .tab-content{ min-height: 350px }
/*Login Close*/

/*swipper slider open*/
.swiper-container {width: 100%; height: 100%; } 
.swiper-slide {text-align: center; font-size: 18px; background: none; /* Center slide text vertically */ display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center; } 
.swiper-pagination-bullet {width: 20px; height: 20px; text-align: center; line-height: 20px; font-size: 12px; color:#fff; opacity: 1; background: rgba(0,0,0,0.2); } 
.swiper-pagination-bullet-active {color:#dc3545; background: #fff; }
  /*swipper slider close*/  

.container-scroller {display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; }

/*Top menu open*/
.fixed-top {position: fixed; top: 0; right: 0; left: 0; z-index: 1; }
.fixed-top h2{ font-size: 20px; color: #Fff }
.navbar { left: 260px;}
.navbar .navbar-menu-wrapper {color: #fff; padding-left: 24px; padding-right: 16px; width:100%; height: 60px;  position: relative;}
.navbar .navbar-menu-wrapper .navbar-toggler {border: 0; color: #fff; height: 60px; width: 48px; background: #dc3545; right: 100%; border-radius: 50px 0 0 50px; -webkit-border-radius: 50px 0 0 50px; -moz-border-radius: 50px 0 0 50px; -o-border-radius: 50px 0 0 50px; position: absolute; }
.navbar .navbar-menu-wrapper .navbar-nav{ flex-direction: row; -ms-flex-direction: row; }
.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {margin-left: auto; }
.navbar .navbar-menu-wrapper .navbar-nav a{ padding: .5rem !important; display: block; color: #fff}
.navbar .navbar-menu-wrapper .navbar-nav .dropdown-menu a{color:#3d3d3e }
.fixed-top .navbar-nav .dropdown-menu { position: absolute; right: 0; left: auto;}
.notification{ position: relative; }
.notification:before {content: '';display: inline-block; text-decoration: inherit; width: 5px; height: 5px; background: #dc3545;position: absolute; right: 0; top: 0;border-radius: 100%;}
.notification_list{ min-width: 260px }
..preview-item{ display: flex !important; }
.notification_list .notification_heading{font-family: 'Montserrat',sans-serif !important; font-weight: 700; font-size: 16px}
.preview-thumbnail{ margin-right: 10px}
.preview-thumbnail .preview-icon {width: 36px; height: 36px; border-radius: 100%; text-align: center; line-height: 36px; color: #fff}
/* Top menu Close*/

/*Side bar open*/
/*.sidebar {height: calc(100vh); background: url('../images/bg_1.png') no-repeat center #fff; background-size: cover; font-weight: 400; padding: 0; width: 260px; border-right: 1px solid #e4e9f0;}*/
.sidebar {height: calc(100vh);  background-size: cover; font-weight: 400; padding: 0; width: 260px; border-right: 1px solid #e4e9f0;}
.input-group {position: relative; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; width: 100%;
}
.input-group-append, .input-group-prepend {color: #c9c8c8; width: auto; border: none; }
.sidebar form .input-group .input-group-prepend .input-group-text{padding-left: 16px; height: 30px; background: #f7f8f9; color: #8e94a9; border-top-left-radius: 50px; border-bottom-left-radius: 50px; border: none}
.sidebar form .input-group .form-control{font-size: 10px; padding: 0; height: 30px; background: #f7f8f9; border-top-right-radius: 50px; border-bottom-right-radius: 50px; }
.sidebar .nav {-ms-flex-wrap: nowrap; flex-wrap: nowrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 60px; width: inherit; }
.sidebar .nav .nav-item{padding: 0 1rem !important; }
.sidebar>.nav>.nav-item{ border-bottom: 1px solid #ddd }
.sidebar .nav .nav-item .nav-link {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; white-space: nowrap; padding: 10px 0 10px 0; color: #3e4b5b; -webkit-transition-duration: 0.45s; transition-duration: 0.45s; transition-property: color; -webkit-transition-property: color; }
.sidebar .nav .nav-item .nav-link i.menu-icon {font-size: 16px; line-height: 1.2; margin-right: 10px; color: #6a6b83; }
.sidebar .nav .nav-item .nav-link i.menu-arrow {line-height: 1; font-size: 16px; margin-left: auto; color: #423a8e; opacity: 0.36; }
.sidebar .nav.sub-menu {margin-bottom: 20px; margin-left: 9px; margin-top: 0; list-style: none; border-left: 1px solid #e4e9f0; } 
.sidebar .nav.sub-menu .nav-item {padding: 0; } 
.sidebar .nav.sub-menu .nav-item .nav-link {color: #3e4b5b; padding: 0.75rem 2rem 0.75rem 15px; position: relative; font-size: 0.8125rem; line-height: 1; height: auto; border-top: 0; }
.sidebar .nav .nav-item-head {padding: 0 1.5rem; font-size: 11px; font-weight: 700; text-transform: uppercase; }
.sidebar .nav .nav-item.active {background: #dc3545; }
.sidebar .nav .nav-item.active a, .sidebar .nav .nav-item.active a i{color: #fff !important}
.sidebar .nav .nav-item .sub-menu .nav-link i.menu-icon{ color:#bcbdda;}
/*Side bar Close*/

/*Body open*/
.page-body-wrapper {min-height: calc(100vh - 60px); padding-left: 0; padding-right: 0; position: relative; }
.main-panel {background: #f8f9fb; width: 100%; min-height: 100vh; padding-top: 60px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}
.content-wrapper {background: #f8f9fb; padding: 40px; padding-bottom: 0; width: 100%; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1;}
.search_area .container{ padding: 0 !important }
.thumb-color{width: 24px; height: 24px; display: inline-block; border: 1px solid #ddd; border-radius: 3px}
/*Body close*/

td .img-thumbnail{ width:80px; }
.sorting{position:relative}
.sort_area {/*position: absolute;right: 5px;display: block;top: 50%;margin-top: -15px;*/background: transparent;display: inline-block; vertical-align: -6px; margin-left: 5px;}
.sort_area span {display: block !important;}
.color-view{ position: absolute; left: 0; top: 0; width: 34px; height: 34px; border-radius: 4px 0 0 4px; border: 1px solid #ddd; display: inline-block;  }
.position-relative input{ padding-left: 36px; } 
.axis { position: relative; }
.axis label{ position: absolute; left: 0; top: 0; height: 34px; border-right: 1px solid #ced4da; width: 28px; text-align: center; background-color: #f1f1f1}
.axis .form-control{ padding-left: 30px; }
.or{border-bottom: 1px solid #ced4da; text-align: center; margin-bottom: 40px; margin-top: -10px;}
.or span{border: 1px solid #ced4da; border-radius: 100%; width: 40px; height: 40px; text-align: center; line-height: 39px; background-color: #fff; display: inline-block; position: relative; top: 20px; font-family: 'Montserrat',sans-serif !important; font-weight: 700;}
.pass_visible{ position: absolute; right: 10px; top: 27px }

.card_statistics{text-align: center; border: 1px solid rgba(0,0,0,.125); background-color: #Fff;border-radius: 4px; overflow: hidden;}
.card_statistics .card_cnt{width: 25%; border-right: 1px solid #ddd}
.card_statistics .card_cnt:last-child{ border-right: none }
.card_statistics .card_cnt big{ font-weight: 700; color: #111; font-size: 24px; text-align: center; }
.card_statistics .card_cnt .btn{ background-color: #f1f1f1; border-radius: 0 !important;padding-top: 20px; border-top:1px solid #ddd !important; font-size: 12px; color: rgba(0,0,0,.5); margin-top: -10px}
.card_cnt a.icn{ width: 30px; height: 30px; display: inline-block; text-align: center; line-height: 30px; color: #fff ; border-radius: 100%; position: relative; top: 5px; }

/*Footer Open*/
.footer {background: #f8f9fb; padding: 15px 25px; font-size: 13px}
/*Footer Close*/

.select-down {position: relative; display: inline-block; width: 100%; margin-top: 0; height: calc(1.5em + .75rem + 2px); padding: .375rem .75rem;    border: 1px solid #ced4da; border-radius: .25rem; background: #fff}
/*.SVG_load.fixed{ position: fixed; left: 30%; top: 100px; width: 100% }*/
.select-down select {display: none; } 
.select-list{ max-height: 350px}
.select-down button span{background-size: 24px auto !important; padding-left: 30px !important; display: inline-block; width: calc(100% - 15px)}
.select-down .select-list {position: absolute; top: 0; left: 0; z-index: 1; margin-top: 33px; padding: 0; background-color: #fff; width: 100%; /*border: 1px solid #ddd;*/ list-style: none; } 
.select-down .select-list li {display: none; border-left: 1px solid #ddd border-right: 1px solid #ddd } 
.select-down .select-list li:last-child{ border-bottom: 1px solid #ddd }
.select-down .select-list li span {display: inline-block; min-height: 40px; min-width: 280px; width: 100%; padding: 10px 15px 5px 40px; background-position: left 10px center; background-repeat: no-repeat;  background-size: 24px auto; font-size: 14px; text-align: left; color: #333; box-sizing: border-box; } 
.select-down .select-list li span:hover, .select-down .select-list li span:focus { background-color: #f3f2f2; opacity: 1; }
.select-list-link{position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: right; padding: 5px; }
.select-list-link:after { content: ''; display: block; width: 10px; height:10px; background: url(chosen-sprite.png) no-repeat 0 2px;background-position: -2px -5px !important; position: absolute; right:7px; top: 10px; }

.not-allowed-status {cursor: not-allowed;}

.chosen-drop{min-width: 150px !important}

.inputautofill{ position: relative; }
.inputautofill #countryList { position: absolute; top: 3px; left: 0px; width: 100% }
.inputautofill #countryList ul { width: 100%; display:block; position:relative; visibility: visible;opacity: 1; }
.inputautofill #countryList ul a{ padding: 0 0 0 10px }
.tinyClass { padding: 10px 12px; border: none; border-bottom: 1px dashed #CCC; width: 100%; background: #fff; font-weight: 600; }
.editable{ overflow: auto; max-height: 70px; }
.chosen-container .chosen-results{ max-height: 180px !important }

/*.designFiled_add_more .form-control:focus,.designFiled_add_more .chosen-container a:focus, .designFiled_add_more .chosen-container a:active{ box-shadow: 0 0 0 5px red !important; }*/

.designFiled_add_more .form-control:focus,.designFiled_add_more .deletedesignfiledbutton:focus, .designFiled_add_more .chosen-container a:focus, .chosen-container.chosen-container-single.chosen-container-active{box-shadow:0 0 0 0.2rem rgba(221, 53, 69, .25) !important}
/*.designFiled_add_more .form-control:hover,.designFiled_add_more .deletedesignfiledbutton:focus, .designFiled_add_more .form-control:focus,.designFiled_add_more .chosen-container:hover{ box-shadow: 0 0 5px 0px rgba(0,0,0,.4) !important; }*/

/*.designFiled_add_more .chosen-container{border-radius: 5px !important; z-index: 1;}*/


.multiselect-native-select .btn-group{ display: block; width: 100%; height: auto !important; padding: .375rem .75rem; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #495057; background-color: #fff; background-clip: padding-box; border: 1px solid #ced4da; border-radius: .25rem; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;	 }
.multiselect-native-select .btn-group .multiselect{ width: 100%; border: none !important; background: none !important; padding: 0 !important; line-height: 130%; height: auto !important; white-space: break-spaces !important; text-align: left;font-size: 14px; color: #495057; font-weight: 400; text-transform: capitalize;}
.multiselect-native-select .multiselect-container{ width: 100%; margin-left: -12px; padding: 5px 0 !important;max-height: 185px; overflow: scroll; }
.multiselect-container>li>a>label{ padding:5px 10px !important }
.multiselect-native-select .dropdown-toggle::after{ display: none !important; }

.sort_area{ position: relative; width: 8px; height: 22px }
.sort_area span{ position: absolute; left: 0; width: auto; height: auto }
.sort_area span:first-child{top: 0; bottom: auto;}
.sort_area span:last-child{bottom: 0; top: auto;}

td .custom-checkbox{ width: 20px; margin:auto;}

.font-select > span{ background: #fff !important; }

.multiselect-clear-filter{ border: 0px !important; cursor: default !important; }

.imageAdujstRectangle{ position: relative; display: block; overflow: hidden;}

.imageAdujstRectangle:before{content: "";padding-bottom: 125%; position: relative; display: block; }
.imageAdujstRectangle img{ position: absolute; max-height: 100%; height: auto; width: 80%; left: 50%; top: 50%; transform: translate(-50%,-50%); }