.login {
	&__wrapper {
	    background: #fff none repeat scroll 0 0;
	    border: 1px solid #ddd;
	    border-radius: 10px;
	    left: 50%;
	    padding: em(50);
	    position: fixed;
	    top: 47%;
	    transform: translate(-50%, -50%);
	    width: em(400);
	    box-shadow:0 2px 8px rgba(0,0,0,0.2);
	    	&-logo {
	    		margin-bottom:1em;
	    	}
	}
}
.nav__left {
	width: em(250);
}
.search {
	width:40%;
	margin-left:em(30);
	position:relative;	
	input {
		border-radius:em(30);
		background:rgba(255,255,255,0.2);
		border:none;
		padding-left:2.8em;
		color:#FFF !important;
			&:focus {			
				background:rgba(255,255,255,0.3);
				color:#FFF;
			}
	}
	.form-control::-moz-placeholder {
		color:rgba(255,255,255,0.6);
	}
	&:before {
		position: absolute;
	    content: "\f002";
	    font-family: $font__awesome;
	    left: 20px;
	    top:10px;
	    color: #FFF; 
	    height:30px;
	    width:30px;
	    display:inline-block;
	    font-weight:900;
	}
		
	
}
.search-inverse {
	position:relative;	
	input {
		background:rgba(239,245,245,0.5);
		padding-left:em(50);			
	}
	&:before {
			position: absolute;
		    content: "\f002";
		    font-family: "Font Awesome 5 Free";
		    left: 20px;
		    top:10px;
		    color: #666; 
		    height:30px;
		    width:30px;
		    display:inline-block;
		    font-weight:900;
		}
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height:calc(100vh - 60px);
    margin-top:em(60);
	    &__sidebar {
	    	min-width: em(250);
		    max-width: em(250);		      
		    transition: all 0.3s;
		    position:fixed;
		    top:em(60);
		    bottom:0;
		    &.active {
		    	margin-left: em(-250);
		    }		    
		    &-header {
		    	padding: em(20);    			
		    }
		    ul.components {
		    	 padding: em(20) 0;	   			
		   			 li.active>a,
						a[aria-expanded="true"] {
						    color: #000;
						    background: $color__inverse-hover;

					}

		    }
		    a[data-toggle="collapse"] {
			    position: relative;
			}
			.dropdown-toggle::after {
			    display: block;
			    position: absolute;
			    top: 50%;
			    right: em(20);
			    transform: translateY(-50%);
			}
			ul ul a {
			    font-size: 0.9em !important;
			    padding-left: em(30) !important;
			    background: $color__inverse-hover;

			}		
			a {
				padding:10px 20px;
				display:block;
				color:rgba(0,0,0,0.6);
				font-size:0.95em;
				display:flex;
				align-items:center;
				font-family:$font__semibold;
					i {
						display:inline-block;
						margin-right:20px;
						font-size:em(18);
						min-width:em(20);
					}
			}
	    }
	    &__content {
	    	width:100%;
	    	margin-left:em(250);
	    	padding:em(20) em(50);
	    	transition:0.3s all;
	    	&-header {
	    		display:flex;
	    		align-items:center;
	    		justify-content:space-between;
	    		h2 {
	    			font-size:1.5em;
	    			margin:0;
	    		}
	    	}
	    	&-body {
	    		background:#FFF;
	    		padding:em(30);
	    		margin: em(30) 0;
	    		border-radius:4px;
	    		box-shadow:0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
	    		border:1px solid $color__inverse-hover;
	    	}	    	
	    }
	    &__content.offset {
	    		margin-left:0;
	    	}
}
.meta-role {
	display:inline-block;
	font-size:0.85em;
	font-family:$font__bold;
	letter-spacing:1px;
	color:rgba(255,255,255,0.7);
	text-transform:uppercase;
	position:relative;
	padding-left:em(20);
		&:before {
			height:em(25);
			width:em(1);
			background-color:rgba(255,255,255,0.8);
			content:"";
			position:absolute;
			left:0;
		}
}

