body{
   font-size:16px;
   font-family:$font__regular;
   color:#666;
   background-color:$color__inverse;
}
a {
	color: $color__link;
    &:hover {
      color:$color__primary-hover;
    }
}
a:hover, a:focus {
	text-decoration:none;
	outline:none;
}
button:focus {
  outline:none;
}
h1, h2, h3, h4, h5 {
	font-family:$font__bold;
	color:#484848;
}
strong {
  font-family:$font__semibold;
  color:#484848;
}
.burger {
	padding:$spacer*5 0;
}
.gutter {
	padding:0 $spacer*5;
}
.gutter-sm {
	padding:0 $spacer*2.5;
}

form label {
	font-family:$font__semibold;
	font-size:0.9em;
}
.form-control {
	padding:0.5rem 0.85rem;
	border-radius:2px;
  background-color:rgba(239, 245, 245, 0.5);
}
.form-control:focus {
	box-shadow:none;
	background: #FFF;
	border-color: $color__secondary;
}
.chosen-container {
	width:100% !important;
}
.chosen-container-single .chosen-single {
  background-color:rgba(239, 245, 245, 0.5);
}
.checkbox label:after, .radio label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}
.checkbox label, .radio label {
   	margin-bottom:0;
   	cursor:pointer;
   }

.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 100%;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
  border-radius: 50%;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 13%;
}

.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 13%;
  margin-left: 0.04em;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}
//Buttons
.btn {
	border-radius:em(30);
	padding:0.475rem 2rem;
	font-family:$font__semibold;
	min-width:em(150);
}
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn-primary {
	background-color:$color__primary;
	border-color:$color__primary;
		&:hover {
			background-color:$color__primary-hover;
			border-color:$color__primary-hover; 
		}
}
.btn-primary.active:not(:disabled):not(.disabled), .btn-primary:active:not(:disabled):not(.disabled), .show > .btn-primary.dropdown-toggle {
	background-color:$color__primary-hover;
	border-color:$color__primary-hover;
}
.btn-inverse {
	background-color:$color__inverse;
	border-color:$color__inverse;
	color:$color__text;
		&:hover {
			background-color:$color__inverse-hover;
			border-color:$color__inverse-hover;
			color:$color__text;
		}
}
.btn-bordered {
	border:1px solid $color__secondary;
	color:$color__text;
	background-color:transparent;
		&:hover {
				background-color:$color__inverse-hover;				
				color:$color__text;
			}
}
.bold {
  font-family:$font__extrabold;
}
.navbar-brand {
  height:em(30);
  width:em(30);
  line-height:em(20);
  background-color:$color__primary;
  text-align:center;
  font-family:$font__extrabold;
  color:$color__light !important;
  border-radius:em(4);
}
.navbar-theme {
  background: linear-gradient(To right, #455A67, #7E93A1);
    a {
      color:rgba(255,255,255,0.8);
    }
    .dropdown-menu {
      border:none;
      box-shadow:0 2px 8px rgba(0,0,0,0.2);
      font-size:0.95em;
      a {
        color:#333;
      }
    }
}
.hamburger {
  border:none;
  font-size:1.5em;
  background-color:transparent;
  color:#777;
  cursor:pointer; 
    span {
      background-color: #ccc;
      display: block;
      height: 3px;
      margin-top: 4px;
      width: 1.1em;
      transition:0.9s all;
    }
    &:hover > span {
      background-color:#FFF;
    }
}
.avatar {
  height:em(40);
  width:em(40);
  line-height:em(40);
  color:rgb(19,171,170);
  font-family:$font__bold;
  border-radius:100%;
  text-align:center;
  display:inline-block;
  background:rgb(108,233,227);
}
.table td {
  vertical-align:middle;
}
.table-hover tbody tr:hover {
  background-color:rgba(245,245,245,0.5);
}
.action-icons {
  padding: 3px 10px !important;
    a {
    background: #F5f5f5 none repeat scroll 0 0;    
    border-radius: 100%;
    color: #666;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 5px 2px;
    text-align: center;
    width: 30px;
    &:hover {
      background: rgba(186,47,43,0.3);
      color: rgb(186,47,43);
    }
  }
}
.pagination {
  justify-content: flex-end;
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: 600;
    .page-link {
      color: #666;
    }
   .page-item.active .page-link {
      background-color: $color__inverse-hover;
      border-color: $color__inverse-hover;
      color: #333;
      z-index: 1;
    }
}
.modal-body, .modal-header, .modal-footer {
  padding:1em 3em;
}

