// Regular
@font-face {
font-family: 'Avenir LT Std 45 Book';
font-style: normal;
font-weight: normal;
src: local('fonts/Avenir LT Std 45 Book'), url('fonts/AvenirLTStd-Book.woff') format('woff');
}
// Medium
@font-face {
font-family: 'Avenir LT Std 55 Roman';
font-style: normal;
font-weight: normal;
src: local('fonts/Avenir LT Std 55 Roman'), url('fonts/AvenirLTStd-Roman.woff') format('woff');
}
// SemiBold
@font-face {
font-family: 'Avenir LT Std 65 Medium';
font-style: normal;
font-weight: normal;
src: local('fonts/Avenir LT Std 65 Medium'), url('fonts/AvenirLTStd-Medium.woff') format('woff');
}
// Bold
@font-face {
font-family: 'Avenir LT Std 85 Heavy';
font-style: normal;
font-weight: normal;
src: local('fonts/Avenir LT Std 85 Heavy'), url('fonts/AvenirLTStd-Heavy.woff') format('woff');
}
//ExtraBold
@font-face {
font-family: 'Avenir LT Std 95 Black';
font-style: normal;
font-weight: normal;
src: local('fonts/Avenir LT Std 95 Black'), url('fonts/AvenirLTStd-Black.woff') format('woff');
}

// Font-Family
$font__regular: 'Avenir LT Std 45 Book';
$font__medium: 'Avenir LT Std 55 Roman';
$font__semibold: 'Avenir LT Std 65 Medium';
$font__bold: 'Avenir LT Std 85 Heavy';
$font__extrabold: 'Avenir LT Std 95 Black';
$font__awesome: "Font Awesome 5 Free";

// Spacer
$spacer:20px;

//Text Color
$color__text:#666;
$color__heading:#484848;
$color__link:#E73C4C;
$color__light:#FFF;

//Theme Colors
$color__primary:#D2332E;
$color__secondary:#5D4F46;
$color__inverse:#EFF5F5;
$color__primary-hover:#ba2f2b;
$color__inverse-hover:#E4EDED;




// Text-Colors
$color__light: #FFF;
$color__dark : #333;
$color__anchor: #37A000;



