/*!
Project Name: Advanchainge
URL: https://www.imensosoftware.com
Author: Imenso Software
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# mixin
# Common

/*--------------------------------------------------------------
# Mixin
--------------------------------------------------------------*/
/* Media query map function starts */
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
@font-face {
  font-family: 'Avenir LT Std 45 Book';
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Avenir LT Std 45 Book"), url("fonts/AvenirLTStd-Book.woff") format("woff"); }
@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Avenir LT Std 55 Roman"), url("fonts/AvenirLTStd-Roman.woff") format("woff"); }
@font-face {
  font-family: 'Avenir LT Std 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Avenir LT Std 65 Medium"), url("fonts/AvenirLTStd-Medium.woff") format("woff"); }
@font-face {
  font-family: 'Avenir LT Std 85 Heavy';
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Avenir LT Std 85 Heavy"), url("fonts/AvenirLTStd-Heavy.woff") format("woff"); }
@font-face {
  font-family: 'Avenir LT Std 95 Black';
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Avenir LT Std 95 Black"), url("fonts/AvenirLTStd-Black.woff") format("woff"); }
/*--------------------------------------------------------------
# Chosen Select
--------------------------------------------------------------*/
/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.7.0
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2017 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/
/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.chosen-container * {
  box-sizing: border-box; }

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  clip: rect(0, 0, 0, 0); }

.chosen-container.chosen-with-drop .chosen-drop {
  clip: auto; }

.chosen-container a {
  cursor: pointer; }

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999; }

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top; }

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0.575rem 0.85rem;
  border: 1px solid #ced4da;
  border-radius: 2px !important;
  background-color: none;
  box-shadow: none;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
  color: #474747;
  font-size: 16px; }

.chosen-container-single .chosen-default {
  color: #999; }

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px; }

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px; }

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px; }

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 16px;
  height: 100%; }

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/chosen-sprite.png") no-repeat 0px 9px;
  margin-left: -8px; }

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap; }

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: url("../images/chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0; }

.chosen-container-single .chosen-drop {
  margin-top: -3px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box; }

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: rect(0, 0, 0, 0); }

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch; }

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none; }

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer; }

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default; }

.chosen-container .chosen-results li.highlighted {
  background-color: #5D4F46;
  color: #fff; }

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4; }

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default; }

.chosen-container .chosen-results li.group-option {
  padding-left: 15px; }

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline; }

/* @end */
/* @group Multi Chosen */
.chosen-choices {
  margin-bottom: 0 !important; }

.chosen-container-multi .chosen-choices {
  border: 1px solid #ced4da;
  border-radius: 2px !important;
  box-shadow: none;
  color: #474747;
  display: block;
  font-size: 16px;
  line-height: 24px;
  overflow: hidden;
  padding: 0.575rem 0.85rem;
  position: relative;
  text-decoration: none;
  white-space: nowrap; }

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none; }

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap; }

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  line-height: normal;
  border-radius: 0;
  width: 25px; }

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #EFF5F5;
  max-width: 100%;
  border-radius: 3px;
  background-color: #EFF5F5;
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  font-size: 0.8em;
  color: #333;
  line-height: 13px;
  cursor: default; }

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../images/chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  color: #666; }

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4; }

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px; }

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0; }

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default; }

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  box-shadow: none; }

.chosen-container-active.chosen-with-drop .chosen-single {
  background-image: none;
  box-shadow: none; }

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent; }

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px; }

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important; }

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
  background: #E8E8E8; }

.chosen-disabled .chosen-single {
  cursor: default; }

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default; }

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right; }

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0; }

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl; }

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px; }

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px; }

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px; }

.chosen-rtl .chosen-choices li {
  float: right; }

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl; }

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px; }

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px; }

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0; }

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0; }

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none; }

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: url("chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl; }

.chosen-rtl.chosen-container-single .chosen-single div b {
  /*background-position: 6px 2px;*/ }

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px; }

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important; } }
/* @end */
/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
.guide .color span {
  height: 6.25em;
  width: 6.25em;
  border-radius: 100%;
  display: inline-block;
  line-height: 6.25em;
  text-align: center;
  margin-right: 1.25em; }
.guide .color__primary {
  background-color: #D2332E;
  color: #FFF; }
.guide .color__secondary {
  background-color: #5D4F46;
  color: #FFF; }
.guide .color__inverse {
  background-color: #EFF5F5; }
.guide h1:first-child {
  color: #D2332E; }

body {
  font-size: 16px;
  font-family: "Avenir LT Std 45 Book";
  color: #666;
  background-color: #EFF5F5; }

a {
  color: #E73C4C; }
  a:hover {
    color: #ba2f2b; }

a:hover, a:focus {
  text-decoration: none;
  outline: none; }

button:focus {
  outline: none; }

h1, h2, h3, h4, h5 {
  font-family: "Avenir LT Std 85 Heavy";
  color: #484848; }

strong {
  font-family: "Avenir LT Std 65 Medium";
  color: #484848; }

.burger {
  padding: 100px 0; }

.gutter {
  padding: 0 100px; }

.gutter-sm {
  padding: 0 50px; }

form label {
  font-family: "Avenir LT Std 65 Medium";
  font-size: 0.9em; }

.form-control {
  padding: 0.5rem 0.85rem;
  border-radius: 2px;
  background-color: rgba(239, 245, 245, 0.5); }

.form-control:focus {
  box-shadow: none;
  background: #FFF;
  border-color: #5D4F46; }

.chosen-container {
  width: 100% !important; }

.chosen-container-single .chosen-single {
  background-color: rgba(239, 245, 245, 0.5); }

.checkbox label:after, .radio label:after {
  content: '';
  display: table;
  clear: both; }

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 2px;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em; }

.checkbox label, .radio label {
  margin-bottom: 0;
  cursor: pointer; }

.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: 100%;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
  border-radius: 50%; }

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 13%; }

.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 13%;
  margin-left: 0.04em; }

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
  display: none; }

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in; }

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1; }

.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {
  opacity: .5; }

.btn {
  border-radius: 1.875em;
  padding: 0.475rem 2rem;
  font-family: "Avenir LT Std 65 Medium";
  min-width: 9.375em; }

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important; }

.btn-primary {
  background-color: #D2332E;
  border-color: #D2332E; }
  .btn-primary:hover {
    background-color: #ba2f2b;
    border-color: #ba2f2b; }

.btn-primary.active:not(:disabled):not(.disabled), .btn-primary:active:not(:disabled):not(.disabled), .show > .btn-primary.dropdown-toggle {
  background-color: #ba2f2b;
  border-color: #ba2f2b; }

.btn-inverse {
  background-color: #EFF5F5;
  border-color: #EFF5F5;
  color: #666; }
  .btn-inverse:hover {
    background-color: #E4EDED;
    border-color: #E4EDED;
    color: #666; }

.btn-bordered {
  border: 1px solid #5D4F46;
  color: #666;
  background-color: transparent; }
  .btn-bordered:hover {
    background-color: #E4EDED;
    color: #666; }

.bold {
  font-family: "Avenir LT Std 95 Black"; }

.navbar-brand {
  height: 1.875em;
  width: 1.875em;
  line-height: 1.25em;
  background-color: #D2332E;
  text-align: center;
  font-family: "Avenir LT Std 95 Black";
  color: #FFF !important;
  border-radius: 0.25em; }

.navbar-theme {
  background: linear-gradient(To right, #455A67, #7E93A1); }
  .navbar-theme a {
    color: rgba(255, 255, 255, 0.8); }
  .navbar-theme .dropdown-menu {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    font-size: 0.95em; }
    .navbar-theme .dropdown-menu a {
      color: #333; }

.hamburger {
  border: none;
  font-size: 1.5em;
  background-color: transparent;
  color: #777;
  cursor: pointer; }
  .hamburger span {
    background-color: #ccc;
    display: block;
    height: 3px;
    margin-top: 4px;
    width: 1.1em;
    transition: 0.9s all; }
  .hamburger:hover > span {
    background-color: #FFF; }

.avatar {
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;
  color: #13abaa;
  font-family: "Avenir LT Std 85 Heavy";
  border-radius: 100%;
  text-align: center;
  display: inline-block;
  background: #6ce9e3; }

.table td {
  vertical-align: middle; }

.table-hover tbody tr:hover {
  background-color: rgba(245, 245, 245, 0.5); }

.action-icons {
  padding: 3px 10px !important; }
  .action-icons a {
    background: #F5f5f5 none repeat scroll 0 0;
    border-radius: 100%;
    color: #666;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 5px 2px;
    text-align: center;
    width: 30px; }
    .action-icons a:hover {
      background: rgba(186, 47, 43, 0.3);
      color: #ba2f2b; }

.pagination {
  justify-content: flex-end;
  margin-bottom: 0;
  font-size: 0.9em;
  font-weight: 600; }
  .pagination .page-link {
    color: #666; }
  .pagination .page-item.active .page-link {
    background-color: #E4EDED;
    border-color: #E4EDED;
    color: #333;
    z-index: 1; }

.modal-body, .modal-header, .modal-footer {
  padding: 1em 3em; }

/*--------------------------------------------------------------
# App
--------------------------------------------------------------*/
.login__wrapper {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  left: 50%;
  padding: 3.125em;
  position: fixed;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 25em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }
  .login__wrapper-logo {
    margin-bottom: 1em; }

.nav__left {
  width: 15.625em; }

.search {
  width: 40%;
  margin-left: 1.875em;
  position: relative; }
  .search input {
    border-radius: 1.875em;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding-left: 2.8em;
    color: #FFF !important; }
    .search input:focus {
      background: rgba(255, 255, 255, 0.3);
      color: #FFF; }
  .search .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .search:before {
    position: absolute;
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    left: 20px;
    top: 10px;
    color: #FFF;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-weight: 900; }

.search-inverse {
  position: relative; }
  .search-inverse input {
    background: rgba(239, 245, 245, 0.5);
    padding-left: 3.125em; }
  .search-inverse:before {
    position: absolute;
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    left: 20px;
    top: 10px;
    color: #666;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-weight: 900; }

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  height: calc(100vh - 60px);
  margin-top: 3.75em; }
  .wrapper__sidebar {
    min-width: 15.625em;
    max-width: 15.625em;
    transition: all 0.3s;
    position: fixed;
    top: 3.75em;
    bottom: 0; }
    .wrapper__sidebar.active {
      margin-left: -15.625em; }
    .wrapper__sidebar-header {
      padding: 1.25em; }
    .wrapper__sidebar ul.components {
      padding: 1.25em 0; }
      .wrapper__sidebar ul.components li.active > a,
      .wrapper__sidebar ul.components a[aria-expanded="true"] {
        color: #000;
        background: #E4EDED; }
    .wrapper__sidebar a[data-toggle="collapse"] {
      position: relative; }
    .wrapper__sidebar .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 1.25em;
      transform: translateY(-50%); }
    .wrapper__sidebar ul ul a {
      font-size: 0.9em !important;
      padding-left: 1.875em !important;
      background: #E4EDED; }
    .wrapper__sidebar a {
      padding: 10px 20px;
      display: block;
      color: rgba(0, 0, 0, 0.6);
      font-size: 0.95em;
      display: flex;
      align-items: center;
      font-family: "Avenir LT Std 65 Medium"; }
      .wrapper__sidebar a i {
        display: inline-block;
        margin-right: 20px;
        font-size: 1.125em;
        min-width: 1.25em; }
  .wrapper__content {
    width: 100%;
    margin-left: 15.625em;
    padding: 1.25em 3.125em;
    transition: 0.3s all; }
    .wrapper__content-header {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .wrapper__content-header h2 {
        font-size: 1.5em;
        margin: 0; }
    .wrapper__content-body {
      background: #FFF;
      padding: 1.875em;
      margin: 1.875em 0;
      border-radius: 4px;
      box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
      border: 1px solid #E4EDED; }
  .wrapper__content.offset {
    margin-left: 0; }

.meta-role {
  display: inline-block;
  font-size: 0.85em;
  font-family: "Avenir LT Std 85 Heavy";
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  position: relative;
  padding-left: 1.25em; }
  .meta-role:before {
    height: 1.5625em;
    width: 0.0625em;
    background-color: rgba(255, 255, 255, 0.8);
    content: "";
    position: absolute;
    left: 0; }

/*# sourceMappingURL=style.css.map */
